body {
  color: #222;
  background: #fafafa;
  font-size: 10px !important;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  padding: 1em 2em;
  margin: auto 1em;
  border: 1px solid #d5d8db;
  border-top: none;
  border-bottom: none;
  overflow-y: scroll; /* Show vertical scrollbar */
}

a {
  text-decoration: none;
  color: #a66;
}

h2 {
  background-color: #29a;
  color: #f5f5f5 !important;
  padding: 10px 12px;
  margin-top: 0px;
  font-size: 14px !important;
  border-radius: 30px 20px;
  cursor: none;
}

.book_list {
  background-color: #fff;
}

/* Book biblio */

.book_biblio {
  border-left: 3px solid #ffe692;
  font-size: 9px;
  color: #a5a5a5;
  display: none;
  cursor: crosshair;
}

body.selected .book_biblio:not(.selected) {
  display: none;
}

.expanded .book_biblio {
  display: table-row;
}

.collapsed .book_biblio {
  display: none;
}

.book_biblio .desc {
  padding-left: 4px;
}

.book_biblio a {
  color: inherit;
}

.book_biblio.available {
  border-color: #b2e592;
}

.book_biblio.audible {
  border-color: #FF8909;
}

.book_biblio.sbnubo {
  border-color: #6c90fc;
}

.book_biblio.selected {
  background-color: #e5ffe5;
  color: #222;
}

body.selected .book_biblio.selected {
  display: table-row;
  background-color: inherit;
  color: #5a5a5a;
}

a.source {
  margin-right: 3px;
  text-decoration: none;
  color: #222;
}

table.table {
  margin-bottom: 0;
  margin-left: 12px;
  width: 98%;
  --bs-table-hover-bg: #f6fff6; /* on mouseover */
}

.table td {
  border-bottom: 0px;
}

td.biblio {
  font-size: 9px;
  width: 220px;
}

body.selected td.biblio {
  width: 450px;
}

body:not(.selected) .colloc {
  display: none;
}

body.selected .colloc {
  display: inline-block;
  width: 280px;
  margin-right: 5px;
}

 /* Book header */

.book_header {
  padding: 2px 10px;
  color: #333;
}

.book_header h5 {
  font-size: 14px;
  line-height: 1.5;
  padding-top: 7px;
  cursor: crosshair;
}

.book_header.hoving h5 {
  background-color: #fbfbfb;
}

.book_header small {
  margin-left: 10px;
}

body.selected .book_list:not(.selected) .book_header {
  display: none;
}

body.selected .book_header h5 {
  cursor: none;
}

.book_header.disabled {
  font-weight: lighter !important;
  color: #b9b9b9;
}

/* Toolbar, search, filters */

.toolbar {
  margin: 10px 0;
}

input#search {
  font-size: 10px;
  margin-left: 6px;
  padding: 4px 12px;
  border-radius: 30px 25px;
  width: 60%;
  display: inline;
  border: 1px solid #d5d8db;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.filters {
  padding: 4px 12px;
  display: inline;
}

.filters span {
  border: 1px solid #d5d8db;
  border-radius: 20px 10px;
  padding: 5px;
  font-weight: bold;
  cursor: crosshair;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.filters span:hover {
  border: 1px solid #8a8a8a;
  border-radius: 8px 8px;
}

.filters span.selected {
  color: #05d005;
}

body.collapsed .filters span.collapsed {
  border-radius: 15px 30px;
  border: 1px solid #d5d8db;
  background-color: #c5f8ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  cursor: none;
}

body.expanded .filters span.expanded {
  border-radius: 15px 20px;
  border: 1px solid #d5d8db;
  background-color: #c5f8ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  cursor: none;
}

body.selected .filters span.selected {
  border-radius: 10px 25px;
  border: 1px solid #d5d8db;
  background-color: #c5f8ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  cursor: none;
}

.pull-right {
  float: right;
}

.icon-links {
  font-size: 9px;
  padding-top: 4px;
  color: #7a7a7a;
  display: none;
}

.hoving .icon-links {
  display: inline;
}

body.selected .icon-links {
  display: none;
}

.icon-links img {
  display: inline;
}

span.cache {
  font-weight: lighter;
  color: #ccc;
}

.book_count {
  color: #29a;
  margin-right: 6px;
  font-size: 10px;
}

.book_id {
  color: #737373;
  margin-right: 6px;
  font-size: 10px;
}

.book_status {
  color: darkred;
  font-weight: bold;
  margin-right: 6px;
}

#footer {
  font-size: 9px;
  color: #aaa;
  text-align: center;
  margin-top:20px;
  cursor: none;
}

body.selected #footer {
  display: none;
}

/* Deprecated
.search_note {
  color: #777;
  font-size: 9pt;
  float: right;
  display: block;
  margin-top: -15px;
  margin-right: 2px;
  padding-right: 3px;
}

.search_filters {
  color: #222;
  font-size: 10pt;
  float: right;
  display: block;
  margin-top: -30px;
  margin-right: 2px;
  padding-right: 1px;
}
*/
