body {
  color: #222;
  background: #fafafa;
  font-size: 10px !important;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  padding: 1em 2em;
  margin: auto 1em;
  border: 1px solid #d5d8db;
  border-top: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #a66;
}

h2 {
  background-color: #29a;
  color: #f5f5f5 !important;
  padding: 10px 12px;
  margin-top: 0px;
  font-size: 14px !important;
  border-radius: 30px 20px;
}

.book_header {
  padding: 2px 10px;
  color: #333;
}

.book_header.disabled {
  font-weight: lighter !important;
  color: #b9b9b9;
}

.book_list {
  background-color: #fff;
}

.book_biblio {
  border-left: 3px solid #ffe692;
  font-size: 9px;
  color: #a5a5a5;
}

.book_biblio .desc {
  padding-left: 4px;
}

.book_biblio a {
  color: inherit;
}

.book_biblio.available {
  border-color: #b2e592;
}

.book_biblio.audible {
  border-color: #FF8909;
}

.book_biblio.sbnubo {
  border-color: #6c90fc;
}

.book_biblio.selected {
  background-color: #e5ffe5;
  color: #222;
}

a.source {
  margin-right: 3px;
  text-decoration: none;
  color: #222;
}

#footer {
  font-size: 9px;
  color: #aaa;
  text-align: center;
  margin-top:20px;
}

table.table {
  margin-bottom: 0;
  margin-left: 12px;
  width: 98%;
  --bs-table-hover-bg: #f6fff6; /* on mouseover */
}

.table td {
  border-bottom: 0px;
}

td.biblio {
  font-size: 9px;
  width: 220px;
}

td.colloc {
  display: none;
  width: 250px;
}

.book_header h5 {
  font-size: 14px;
  line-height: 1.5;
  padding-top: 7px;
}

.book_header small {
  margin-left: 10px;
}

.pull-right {
  float: right;
}

.icon-links {
  font-size: 9px;
  padding-top: 4px;
  color: #7a7a7a;
}

.icon-links img {
  display: inline;
}

span.cache {
  font-weight: lighter;
  color: #ccc;
}

.book_id {
  margin-right: 5px;
  color: #c3c3c3;
  font-size: 8px;
}

.book_status {
  font-weight: bold;
  color: darkred;
  margin-right: 6px;
}

input#search {
  font-size: 9px;
  margin: 10px 0;
  padding: 4px 12px;
  border-radius: 30px 25px;
}

/* Deprecated
.search_note {
  color: #777;
  font-size: 9pt;
  float: right;
  display: block;
  margin-top: -15px;
  margin-right: 2px;
  padding-right: 3px;
}

.search_filters {
  color: #222;
  font-size: 10pt;
  float: right;
  display: block;
  margin-top: -30px;
  margin-right: 2px;
  padding-right: 1px;
}
*/
